html {
  font-family: "Fredoka One", sans-serif;
  background:
  repeating-linear-gradient(
    -45deg,
    #c9fcff,
    #c9fcff 10px,
    #d4fdff 10px,
    #d4fdff 20px
    );
  }

  header {
    border-top: solid 8px #b3fbff;
    border-bottom: solid 8px #b3fbff;
  }

  h1 {
    color: #990073;
    transform: rotate(-10deg);
  }

  p {
    color: #c09;
    max-width: 19em;
    transform: rotate(-10deg);
  }

  span {
    color: #c09;
  }

  img {
    position: absolute;
  }

  .mint {
    right: 75px;
    bottom: 200px;
  }

  @keyframes mint-drop {
      0% {
        top: -100px;
      }

      100% {
        bottom: 200px;
      }

    }

  .cone {
    right: 75px;
    bottom: 50px;
  }

  .chocolate {
    right: 60px;
    bottom: 320px;
  }

  .vanilla {
    right: 80px;
    top: 190px;
  }

  .cherry {
    right: 75px;
    top: 80px;
  }

  .btn {
    border-color: #c09;
    position: absolute;
  }

  .btn:hover {
    border-color: #c09;
  }

  .btn-ghost {

  }
