html {
  font-family: "Fredoka One", sans-serif;
  background:
  repeating-linear-gradient(
    -45deg,
    #c9fcff,
    #c9fcff 10px,
    #d4fdff 10px,
    #d4fdff 20px
    );
  }

  header {
    border-top: solid 8px #b3fbff;
    border-bottom: solid 8px #b3fbff;
  }

  h1 {
    color: #990073;
    transform: rotate(-10deg);
  }

  p {
    color: #c09;
    max-width: 19em;
    top: 200px;
    transform: rotate(-10deg);
  }

  span {
    color: #c09;
  }

  img {
    position: absolute;
  }

  .text {
    bottom: 100px;
    animation: move-text 1s linear forwards;
  }

  @keyframes move-text {

    0% {
      opacity: 0;
      bottom: 100%;
      filter: blur(10px);
    }

    100% {
      opacity: 1;
      filter: blur(0);
    }

  }

  .mint {
    right: 10px;
    bottom: 200px;
    width: 180px;
  }

  @keyframes mint-drop {
      0% {
        top: -100px;
      }

      100% {
        bottom: 200px;
      }

    }

    .whole {
      animation: drop top 1s linear;
      scale: 50%;
      background-color: red;
      min-height: 480px;
    }

  .cone {
    animation: wiggle top 2s linear;
    right: 30px;
    bottom: 10px;
    width: 180px;
  }

  .chocolate {
    right: 60px;
    bottom: 320px;
    width: 180px;
  }

  .vanilla {
    right: 80px;
    top: 190px;
    width: 180px;
  }

  .cherry {
    right: 75px;
    top: 80px;
    width: 180px;
  }

  .btn {
    border-color: #c09;
  }

  .btn-ghost:hover {
    border-color: #c09;
  }

  .btn-ghost {
    border-color: #c09;
  }
